@import 'include/colors.less';
@import 'include/var.less';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: url(/assets/bg.png);
  background-repeat: repeat;
}

header {
  height: @headerHeight;
  line-height: @headerHeight;
  position: fixed;
  top: 0;
  width: 100%;
  background: @headerColor;
  background: linear-gradient(#151515, #0e0e0e);
  border-bottom: 1px solid black;
  box-shadow: 0 0 1rem @borderColor;
}

#ev-logo, #ev-title {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#ev-logo {
  background-image: url(/assets/logo.png);
  width: 48px;
  height: 48px;
  margin-left: 1rem;
}

#ev-title {
  margin: 0;
  font-style: italic;
  font-size: 1/3 * @headerHeight;
  color: @evColor;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  margin-left: 0.5rem;
}

#header-icons {
  float: right;
  text-align: right;
  margin-right: 0.5rem;
}

#discord,
#twitter,
#minecraft {
  display: inline-block;
  line-height: @headerHeight;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  background: url(/assets/icons.png) 0 0;
  margin-right: 0.5rem;
}

#discord {
  background-position: 0 0;
  
  &:hover {
    background-position: -32px 0;
  }
}

#twitter {
  background-position: -64px 0;

  &:hover {
    background-position: -96px 0;
  }
}

#minecraft {
  background-position: -128px 0;

  &:hover {
    background-position: -160px 0;
  }
}

#column {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: @headerHeight + @windowMargin;
}

#content, #sidebar {

}

#content {
  margin-right: @windowMargin;
}

#sidebar {

  ul:last-child {
    margin-bottom: 0;
  }
}

.window {
  background-color: @columnColor;
  border: 1px solid @borderColor;
  padding: @windowMargin;
  box-shadow: 0 0 1rem @borderColor;
  margin-bottom: @windowMargin;

  &:last-child {
    margin-bottom: 0;
  }
}
