@import 'include/var.less';


@media (min-width: 1600px) {

    #column {
        max-width: 65%;
    }

    #content {
        margin-right: 30rem + @marge-window;
    }

    #sidebar {
        width: 30rem;
    }

}


@media (max-width: 1600px) {

    #column {
        max-width: 70%;
    }

    #content {
        margin-right: 30rem + @marge-window;
    }

    #sidebar {
        width: 30rem;
    }

}

@media (max-width: 1400px) {

    #column {
        max-width: 75%;
    }

}

@media (max-width: 1200px) {

    #column {
        max-width: 85%;
    }

    #content {
        margin-right: 25rem + @marge-window;
    }

    #sidebar {
        width: 25rem;
    }

    p {
        text-align: left;
    }

}

@media (max-width: 900px) {

    #column {
        max-width: 90%;
    }

    #content {
        margin-right: 0;
    }

    #sidebar {
        display: none;
    }
}

@media (max-width: 768px) {

    #column {
        max-width: 95%;
    }

}

@media (max-width: 480px) {

    #column {
        max-width: 100%;
    }

}

@media (max-width: 410px) {



}
