<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:700,700italic' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/png" href="/assets/favicon.png"/>

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <header>
            <a href="/">
                <div id="ev-logo"></div>
                <div id="ev-title" class="title">Ethil Van</div>
            </a>
        </header>

    <div id="column">
        <div id="sidebar">
            <div class="window infos">
                <h6>TeamSpeak</h6>
                <p>
                    Adresse : ts.ethilvan.fr<br>
                    Mot de passe : kamoulox
                </p>
                <p class="align-right"><a href="/teamspeak">+ Règlement</a></p>
            </div>
            <div class="window games">
                <h6>Jeux du moment</h6>
                <ul>
                    <li>Smite</li>
                    <li>Insurgency</li>
                    <li>Mass Effect 3</li>
                    <li>Counter-Strike: GO</li>
                </ul>
                <p class="align-right"><a href="/jeux">+ Liste complète</a></p>
            </div>
        </div>
        <div id="content" class="window">
            {{ content }}

            {% if page.comments %}
                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = 'ethilvan';
                        var disqus_identifier = '{{ page.disqusid }}';
                        var disqus_url = 'http://ethilvan.fr{{ page.url }}';
                        var disqus_title = '{{ page.title }}';
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            {% endif %}
        </div>
        <div class="cleaner"></div>
    </div>

    </body>
</html>
